@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-icon {
    width: 100px; /* or any size you prefer */
    height: auto;
  }

  html, body {
    background-color: #FAF9F6; /* Use your chosen color */
    min-height: 100%;
  }
  