@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar .menu-horizontal .details[open] .p-2 {
    position: absolute; /* Positions dropdown content absolutely relative to its positioned parent */
    z-index: 10; /* Ensures dropdown content is above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds some shadow for better visibility */
    width: max-content; /* Ensures the dropdown width is based on its content */
}
